.btn{
    width: 24.8%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.365);
    backdrop-filter: blur(10px);
    border: none;
    text-decoration: none;
   
    border: 2px solid gold;
    font-size: 30px;
    transition-duration: 800ms;
}
.navbar{
    position: fixed;
    width: 100%;
    padding-bottom: 20px;
 

}
.btn:hover{
    background-color:red;
    color: white;
    border: none;
}
.btn:focus{
    background-color: greenyellow;
    color: black;
}