*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: italic;
}
.abtoverall{
    width: 100%;
    min-height: 190vh;
   
}
.abtcontainer{
    height: 100vh;
}
.box{
    display: flex;
    margin-top: 80px;
}
.abt{
    font-size: 100px;
    color: red;
    text-align: center;
    padding-top: 100px;
}
.box1{
    width: 60%;
  
    background-color:transparent;
    padding: 20px;
    margin-left: 50px;
    margin-top: 40px;
    /* border: 2px solid gold; */
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;

    
  
}
.info{
    display: flex;
   
    overflow: auto;
    margin-top: 40px;
    
}
h2{
    padding: 10px;
}
.info div+div{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.box2{
    width: 40%;
    height: 400px;
    margin: 35px 20px 0px 20px;
    
}
.box2 div:first-child{
    width: 100%;
    height: 50%;
    background-color: transparent;
    padding: 10pxx;
    /* border: 2px solid gold; */
    margin: 10px;
    margin-left: 7px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project{
    display: flex;
}
.project div:first-child{
    width: 50%;
    height: 170px;
    background-color: transparent;
    /* border: 2px solid gold; */
} 
.project div:last-child{
    width: 50%;
    height: 170px;
    background-color: transparent;
    /* border: 2px solid gold; */
    margin-top: 10px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infobtn{

    padding: 10px;
    width: 300px;
    background-color: transparent;
    border: 2px solid gold;
    text-decoration: none;
}

/* ---------------------My Skill Part ----------------- */

.mySkill{
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    color: red;
}
.Skill{
    display: grid;
    grid-template-columns: auto auto auto  auto auto auto auto auto;

    padding: 20px;
}
img{
    width: 100px;
    height: 100px;
    margin: 10px;
    object-fit: contain;
}
.Skill div{
    width: 200px;
    height: 200px;
  background-color: rgb(26, 26, 26);
  box-shadow: 5px 5px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.Skill div:hover{
    background-color: rgba(255, 255, 255, 0.386);
   
}